<navbar></navbar>

<div class="container">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Question: {{currentQuestion.index}}</h4>
			<p>{{currentQuestion.question}}</p>
			<hr>
			<div class="options">
				<ul>
					<li class="option" [ngClass]="{'alert alert-success': displayAnswer && currentQuestion.answer=='A'}" role="alert">A: {{currentQuestion.A}}</li>
					<li class="option" [ngClass]="{'alert alert-success': displayAnswer && currentQuestion.answer=='B'}" role="alert">B: {{currentQuestion.B}}</li>
					<li class="option" [ngClass]="{'alert alert-success': displayAnswer && currentQuestion.answer=='C'}" role="alert">C: {{currentQuestion.C}}</li>
					<li class="option" [ngClass]="{'alert alert-success': displayAnswer && currentQuestion.answer=='D'}" role="alert">D: {{currentQuestion.D}}</li>
				</ul>
			</div>

			<div *ngIf="displayAnswer">
				<h5>Explanation:</h5>
				<hr>
				<p>{{currentQuestion.why}}</p>
			</div>

		<a href="#" (click)="toggleAnswer()" class="btn btn-success">{{answerStatus}} Answer</a>
		<br class="mobile">
		<a href="#" (click)="nextQuestion()" class="btn btn-outline-primary">Next Question</a> <a href="#" (click)="getRandomQuestion()" class="btn btn-outline-primary">Random Question</a>
		
		</div>
	</div>
</div>