.card {
	margin-top: 5%;
}

.option {
	padding: 1%;
	margin: 1%;
	border-radius: 8px;
}

.options-list {
	margin-left: -40px;
	list-style-type:none;
}

.explanation {
	padding-top: 5%;
}


@media (min-width: 576px) { 
	.mobile {
		display: none;
	}
}
