<navbar></navbar>

<div class="container">
	<div class="card">
		<div class="card-header">
			<ul class="nav nav-tabs">
			  <li class="nav-item">
			    <a (click)="toggleQuestions(0)" class="nav-link" [ngClass]="{'active': questionSet==0}" href="#">All Questions</a>
			  </li>
			  <li class="nav-item">
			    <a (click)="toggleQuestions(1)" class="nav-link" [ngClass]="{'active': questionSet==1}" href="#">Finance</a>
			  </li>
			  <li class="nav-item">
			    <a (click)="toggleQuestions(2)" class="nav-link" [ngClass]="{'active': questionSet==2}" href="#">Machine Learning</a>
			  </li>
			</ul>
		</div>
		<div class="card-body">
			<h5 class="card-title">{{currentQuestion.question}}</h5>
			<h6 *ngIf="currentQuestion.chapter" class="card-subtitle mb-2 text-muted">{{currentQuestion.chapter}}</h6>
			<hr>
			<div class="options">
				<ul>
					<li class="option" [ngClass]="{'alert alert-success': displayAnswer && currentQuestion.answer=='A'}" role="alert">A: {{currentQuestion.A}}</li>
					<li class="option" [ngClass]="{'alert alert-success': displayAnswer && currentQuestion.answer=='B'}" role="alert">B: {{currentQuestion.B}}</li>
					<li class="option" [ngClass]="{'alert alert-success': displayAnswer && currentQuestion.answer=='C'}" role="alert">C: {{currentQuestion.C}}</li>
					<li class="option" [ngClass]="{'alert alert-success': displayAnswer && currentQuestion.answer=='D'}" role="alert">D: {{currentQuestion.D}}</li>
				</ul>
			</div>

			<div *ngIf="displayAnswer">
				<h5>Explanation:</h5>
				<hr>
				<p>{{currentQuestion.why}}</p>
			</div>

		<a href="#" (click)="toggleAnswer()" class="btn btn-success">{{answerStatus}} Answer</a>
		<br class="mobile">
		<a href="#" (click)="nextQuestion()" class="btn btn-outline-primary">Next Question</a> <a href="#" (click)="getRandomQuestion()" class="btn btn-outline-primary">Random Question</a>
		
		</div>
	</div>
</div>