<navbar></navbar>

<div class="container">
	<div class="card">
		<div class="card-header">
			<ul class="nav nav-tabs col-10">
			  <li class="nav-item">
			    <a (click)="toggleQuestions(0)" class="nav-link" [ngClass]="{'active': questionSet==0}" href="#">All Questions</a>
			  </li>
			  <li class="nav-item">
			    <a (click)="toggleQuestions(1)" class="nav-link" [ngClass]="{'active': questionSet==1}" href="#">Finance</a>
			  </li>
			  <li class="nav-item">
			    <a (click)="toggleQuestions(2)" class="nav-link" [ngClass]="{'active': questionSet==2}" href="#">Machine Learning</a>
			  </li>
        <li class="nav-item" *ngIf="questions[3].length > 0">
			    <a (click)="toggleQuestions(3)" class="nav-link" [ngClass]="{'active': questionSet==3}" href="#">Needs Review</a>
			  </li>
			</ul>
		</div>
		<div class="card-body">
			<h5 class="card-title">{{currentQuestion.question}}</h5>
			<h6 class="card-subtitle mb-2 text-muted">Question {{questionIndex + 1}} of {{questions[questionSet].length}}
				<span *ngIf="currentQuestion.chapter" class="card-subtitle mb-2 text-muted">: {{currentQuestion.chapter}}</span>
			</h6>
			<hr>

			<div class="card-text">
				<ul class="options-list">
		          <li class="option" [ngClass]="{'alert-success': displayAnswer && currentQuestion.answer=='A',
		            'alert-danger': displayAnswer && currentQuestion.answer!='A'}">
		            <label>
		              <input type="radio" name="answer" (click)="submitAnswer('A')" [(ngModel)]="submittedAnswer" [value]="'A'">
		              A: {{currentQuestion.A}}
		            </label>
		          </li>
		          <li class="option" [ngClass]="{'alert-success': displayAnswer && currentQuestion.answer=='B',
		            'alert-danger': displayAnswer && currentQuestion.answer!='B'}">
		            <label>
		              <input type="radio" name="answer" (click)="submitAnswer('B')" [(ngModel)]="submittedAnswer" [value]="'B'">
		              B: {{currentQuestion.B}}
		            </label>
		          </li>
		          <li class="option" [ngClass]="{'alert-success': displayAnswer && currentQuestion.answer=='C',
		            'alert-danger': displayAnswer && currentQuestion.answer!='C'}">
		            <label>
		              <input type="radio" name="answer" (click)="submitAnswer('C')" [(ngModel)]="submittedAnswer" [value]="'C'">
		              C: {{currentQuestion.C}}
		            </label>
		          </li>
		          <li class="option" [ngClass]="{'alert-success': displayAnswer && currentQuestion.answer=='D',
		            'alert-danger': displayAnswer && currentQuestion.answer!='D'}">
		            <label>
		              <input type="radio" name="answer" (click)="submitAnswer('D')" [(ngModel)]="submittedAnswer" [value]="'D'">
		              D: {{currentQuestion.D}}
		            </label>
		          </li>
				</ul>
			</div>



      <br class="mobile">
      <a href="#" (click)="nextQuestion()" class="btn btn-outline-primary">Next Question</a>
      <a href="#" (click)="getRandomQuestion()" class="btn btn-outline-primary">Random Question</a>
      <a href="#" (click)="shuffleQuestions(questionSet)" class="btn btn-outline-primary">Shuffle Question Set</a>
      <a href="#" (click)="clearReviewQuestions()" class="btn btn-outline-primary" *ngIf="questionSet===3">Clear Review Questions</a>

      <div class="explanation" *ngIf="displayAnswer">
        <div>
          <h5>Explanation:</h5>
          <hr>
          <p>{{currentQuestion.why}}</p>
        </div>
      </div>

		</div>
	</div>
</div>
